<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h2 class="page-header">All Video Data</h2>
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">05/04/2017-8:35AM</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/oj8XMHHiChY"></iframe>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">05/05/2017-8:34AM</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/reuTYGztPAg"></iframe>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">05/06/2017-8:40AM</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/3w8FwMqchLo"></iframe>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">05/07/2017-8:39AM</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse in">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/6gfHvrpV8qA"></iframe>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">05/08/2017-8:36AM</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/MPc_7YNWmeY"></iframe>
            </div>
        </div>
    </div>
</div>


<p>Go to Violations Video Data <br> <a href="/index2">Violations</a></p>
<p>Go to Your Home Page <br> <a href="/">Your Dashboard</a> </p>

</body>
