<h2 class="page-header">Welcome to Your Dashboard</h2>
<body>
<p>All Car Video Data</p>
<a href="/index1">All Data</a>
<p>All Violations Video Data</p>
<a href="/index2">Violations</a>
    <div class="card">
      <img src="http://fillmurray.com/g/300/300" id="img-preview" />
      <br>
      <label class="file-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;">
        Select an Image
      </label>
    </div>
    <!-- Scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/app1.js"></script>
     
    <div class="card">
      <label class="video-file-upload-container" for="video-file-upload">
        <input id="video-file-upload" type="video" style="display:none;">
        Select Video
      </label>
    </div>
    <!-- Scripts -->   
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="js/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="js/jquery.fileupload.js" type="text/javascript"></script>
    <script src="js/cloudinary-jquery-file-upload.js" type="text/javascript"></script>

</body>